[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
flask = "*"
xgboost = "*"
kaggle = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.11"
